.Weather{
    border: solid 1px lightblue;
    border-radius: 4px;
    padding: 16px;
    margin: 30px auto;
    max-width: 600px;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(196,242,255,1) 50%, rgba(78,215,242,1) 100%);
   }
.Weather input{ border-radius: 30px;
    border:none;
    padding: 5px 15px;
    box-shadow: 0px 2px 10px 0px #8c92ac;
}
.Weather .search-button{margin-left: 2px;}
.Weather h1{
    color:#1b1999;
    font-size: 24px;
    font-weight: 100px;
    line-height: 29px;
    margin-top: 20px;
}
.Weather ul{
    margin: 0;
    padding: 0;
}
.Weather li{
    font-size: 14px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}
.Weather .temperature{font-weight: bold;
font-size: 40px;
margin-left: 10px;
line-height: 76px;}

.Weather canvas {
    padding-top: 13px;
}